@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-image: url(https://s3.amazonaws.com/ritalbradley-dev-photos/twinkle-back.gif);
    align-items: center;                            
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-top: 3px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav ul li a.home,
nav ul li a:hover {
    color: #111;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1200px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.home,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}

.content div {
    font-size: 40px;
    font-weight: 700;
}

img {
    margin-left: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.sidebar1 {
    height: 500px;
    width: 300px;
}
.sidebar2 {
    height: 500px;
    width: 950px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 10px;
}
#leftsidebar{
    padding: 4px 0 4px 10px;
    float: left;
}

#rightsidebar{
    padding: 17px 0 10px 10px;
    float: right;

}
.before{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.before > div {
    
    padding: 20px;
    align-items: center;
    margin: 1px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}
.ul{
    
}


.photo_container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.column{
    flex: 1;
    min-width: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
    transform: scale(1);
        transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}
img{
    width: 100%;
}

.container {
    width: 500px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper {
    width: 100%;
    display: flex;
    animation: slide 12s infinite;

}

img {
    width: 100%;
}

/*Animation activated by keyframes*/
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}
